
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
       <table>
           <tr>
               <td>@Html.Label("User Name")</td>
               <td>@Html.TextBox("txtUserName")</td>
           </tr>
           <tr>
               <td>@Html.Label("Password")</td>
               <td>@Html.Password("txtPassword")</td>
           </tr>
       </table>
    </div>
</body>
</html>
